.wetherBg{
  background: url("https://wehco.media.clients.ellingtoncms.com/imports/adg/photos/201109651_tgazweather_t800.jpeg?90232451fbcadccc64a17de7521d859a8f88077d");
  height: 45vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading{
  color:rgb(2, 2, 2);
  font-weight: 700;
}

.wetherResultBox{
text-align: center;
}

.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}

.weatherIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}

.weatherCity{
  font-size: 35px;
}
.weatherTemp{
  font-size:55px;
  font-weight: 700;
}
